
/* New Post(status update) text */

 .status{ /*the div how holds the input on Post Page for update status */
	position: relative;
}
#addComment, #addModal{ /*button from post page and button from modal*/
	position: absolute;
	right: 5px;
	display: block;
    font-size: .7rem;
    margin-bottom: 20px;
    padding: 5px 7px;
	border-radius: 10px;
	background-color: #4ECDC2;
    color: #fff;
}
#addComment{
	top: 10px;
}
#bodyText{ /* input from post page for update status */
	width: 100%;
	font-size: 1rem;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
	background-color: #efefef;
	
}

/* styling the icons on the status comment */
#containerStatus{ /* the html container were all of the dynamic content is inserted */
	padding: 10px;
	margin-bottom: 20px;
}
.iconsStatus{ /* the div with the dinamic inserted icons */
	display: flex;
	justify-content: space-around;
	margin: 10px 20px;
}
.emptyHeart, .share, .commentStatus{ /* the inserted icons */
	color: #4ECDC2;
	cursor: pointer;
}
.dateStatus{ /* the date that apears under the name*/
	background-color:#f2f2f2;
	padding: 10px 0 10px 0;
	margin-bottom: 4%;
}
.dateStatus p{
	margin-left: 20px;
	font-size: 0.9rem;
	color: #565656;
}
.formStatus{ /* The form that is inserted unde the update status so people can comment*/
	display: none;
}

/* Modal Pop Up */

 .bg-modal{ /* the bg when the modal pops up*/
	 width: 100%;
	 height: 100%;
	 background-color: rgba(0,0,0,0.8);
	 position: absolute;
	 top: 0;
	 display: none;
 }
 .modal-content{
	 width: 40%;
	 height: 35%;
	 background-color: #fff;
	 border-radius: 4px;
	 position: relative;
	 left: 27%;
	 top: 13%;
	 z-index: 1;
 }
 .close{ /* the x button on the modal*/
	 position: absolute;
	 top: 0;
	 right: 14px;
	 font-size: 40px;
	 transform: rotate(45deg);
	 cursor: pointer;
	 color: #565656;
 }
 .statusModal{/* div that holds the textarea and button of the modal*/
	 margin: auto;
 }
 .modal-content img { /* profile img inserted into the modal*/
	width: 45px;
    display: block;
    margin-right: 15px;
	border-radius: 50%;
	margin: 10px;
	float: left;
	display: flex;
 }
 .nameModal{ /* the name of profile into the modal*/
	font-size: 12px;
    color: #4ECDC2;
	float: left;
	margin-top: 15px;
 }
 #addModal{ /* the post button on modal*/
	 bottom: -10px;
	 color: #3E3D56; 
	 cursor: pointer;
 }
 #addModal:hover{
	box-shadow: 1px 1px 1px 1px #565656;
 }
 .modalIcons{ /* div with modal icons */
	 display: flex;
	 justify-content: space-around;
 }
.mIcon1, .mIcon2, .mIcon3{/* modal icons*/
	color: #3E3D56;
	font-size: 13px;
	margin: 0 15% 0 1%;
	padding:5px;
	background-color: #F5F6F7;
	border-radius: 5px;
	cursor: pointer;
}
.mIcon1:hover, .mIcon2:hover, .mIcon3:hover{
box-shadow: 1px 1px 1px 1px #565656;
}
.modalIcons span{ /* the span that holds the text next to the modal icons*/
	color: #4ECDC2;
}
#count{ /* span with id that holds the count for the heart icon*/
	color: #3E3D56;
    font-size: 14px;
    padding: 2px 4px;
}
.divModal{ /* holds the name and date in modal*/
  padding-bottom: 15px;
}
/* The End Update Status */